* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Lato, Arial,sans-serif !important;
    background-color: #ffffff !important;
}

li {
    list-style: none;
}


.nav__header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    background-color: rgb(248, 63, 95);
    padding: 10px 15px 13px;
    margin-top: 10px;
}

.header--menu > a,
.header-list > a {
    text-decoration: none;
    color: #fff;
}

.header--menu{
    position: relative;
}

.header--menu ::after{
    content: "";
    position: absolute;
    height: 20px;
    width: 140px;
    top: 20px;
    right: 1px;
}

.header--menu:hover > .menu--child {
    display: block;
    z-index: 4;
}

.menu--child {
    width: 220px;
    height: 518px;
    position: absolute;
    top: 37px;
    right: -22px;
    background-color: #fff;
    color: #000;
    display: none;
    padding: 0;
}

.menu--child > :hover,
.menu--child-small > :hover {
    background-color: rgb(248, 63, 95);
    cursor: pointer;
}

.menu--child > li,
.menu--child-small > li {
    padding: 14px 10px 12px 15px;
}

.menu--child > li > a {
    text-decoration: none;
    color: #000;
}

.header-list-small > a {
    text-decoration: none;
    color: #fff;
}

.header-list-small {
    position: relative;
}

.menu--child-small {
    content: "";
    position: absolute;
    height: 350px;
    width: 246px;
    top: 37px;
    left: 0px;
    background-color: #fff;
    padding: 0;
    display: none;
}

.menu--child-small > li > a {
    text-decoration: none;
    color:#000
}

.menu--child-small::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 114px;
    top: -18px;
    right: 134px;
}

.header-list-small:hover > .menu--child-small {
    display: block;
}



/* chi tiết sản phẩm    */
.chitiet {
    width: 1300px;
    display: flex;
}
.chitiet.imgsp {
    padding-right: 15px;
}
.chitiet.imgsp img {
    width: 700px;
    height: 500px;
}

.dipcription{
    width: 600px;
}