* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Lato, Arial,sans-serif !important;
    background-color: #f5f5f5 !important;
}

li {
    list-style: none;
}


.nav__header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    background-color: rgb(248, 63, 95);
    padding: 10px 15px 13px;
    margin-top: 10px;
}

.header--menu > a,
.header-list > a {
    text-decoration: none;
    color: #fff;
}

.header--menu{
    position: relative;
}

.header--menu ::after{
    content: "";
    position: absolute;
    height: 20px;
    width: 140px;
    top: 20px;
    right: 1px;
}

.header--menu:hover > .menu--child {
    display: block;
}

.menu--child {
    width: 220px;
    height: 518px;
    position: absolute;
    top: 37px;
    right: -22px;
    background-color: #fff;
    color: #000;
    display: none;
    padding: 0;
}

.menu--child > :hover,
.menu--child-small > :hover {
    background-color: rgb(248, 63, 95);
    cursor: pointer;
}

.menu--child > li,
.menu--child-small > li {
    padding: 14px 10px 12px 15px;
}

.menu--child > li > a {
    text-decoration: none;
    color: #000;
}

.header-list-small > a {
    text-decoration: none;
    color: #fff;
}

.header-list-small {
    position: relative;
}

.menu--child-small {
    content: "";
    position: absolute;
    height: 350px;
    width: 246px;
    top: 37px;
    left: 0px;
    background-color: #fff;
    padding: 0;
    display: none;
}

.menu--child-small > li > a {
    text-decoration: none;
    color:#000
}

.menu--child-small::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 114px;
    top: -18px;
    right: 134px;
}

.header-list-small:hover > .menu--child-small {
    display: block;
}

/* kích thước sile  */
.carousel-inner{
    width: 1000px;
    height: 550px;
}
.carousel-item img{
    width: 100%;
    height: 100%;
}


/* itemhoa */
.title h2{
    text-align: center;
    padding: 5px 0px 5px 0px;
    margin: 5px 0px 5px 0px;
    font-weight: bold;
    
}
.list_hoa{
    display: flex;
    background-color: gainsboro;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1200px;
}
.item_hoa{
    background-color: #fff;
    width: 290px;
    margin-bottom: 20px;
    padding: 0px;
    text-align: center;
    border: gray solid 0.1px;
    border-radius: 5px;
}
.item_hoa img{
    margin:  0px 0px 0px 0px;
    padding: 0px 0px 15px 0px;
    width: 100%;
}
.item_hoa.bolder h5{
    font-weight: bolder;
}
.item_hoa.lighter h5{
    font-weight: bolder;
}
.item_hoa:hover{
    /* backgro und-color: rgba(0, 0, 0, 0.4); */
    box-shadow: 5px 5px 25px 5px gray;
    cursor: pointer;
}

/* lớp phủ */
/* .item_hoa{
    position: relative;
}
.item_hoa.ovelay{
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    display: inline-block;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: .25s all;
} */