* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Lato, Arial,sans-serif !important;
    background-color: #ffffff !important;
}

li {
    list-style: none;
}

hr {
    background-color: #ec008c;
}


.nav__header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    /* background-color: #99ffff; */
    background-color: rgb(248, 63, 95);
    padding: 10px 15px 13px;
    width: 1296px;
    position: fixed;
}

.header--menu > a,
.header-list > a {
    text-decoration: none;
    color: #fff;
}

.header--menu{
    position: relative;
}

.header--menu ::before{
    content: "";
    position: absolute;
    height: 20px;
    width: 158px;
    top: 20px;
    right: 1px;
}

.header--menu:hover > .menu--child {
    display: block;
    z-index: 4;
}

.menu--child {
    width: 220px;
    height: auto;
    position: absolute;
    top: 37px;
    right: -22px;
    background-color: #fff;
    color: #000;
    display: none;
    padding: 0;
    border: 1px solid #ccc;
    z-index: 10;
}

.menu--child > :hover,
.menu--child-small > :hover {
    background-color: rgb(248, 63, 95);
    cursor: pointer;
}

.menu--child-small > li {
    padding: 14px 10px 12px 15px;
}

.menu--child > li > a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 14px 10px 12px 15px;
}

.header-list-small > a {
    text-decoration: none;
    color: #fff;
}

.header-list-small {
    position: relative;
}

.menu--child-small {
    content: "";
    position: absolute;
    height: 350px;
    width: 246px;
    top: 37px;
    left: 0px;
    background-color: #fff;
    padding: 0;
    display: none;
    z-index: 1;
}

.menu--child-small > li > a {
    text-decoration: none;
    color:#000
}

.menu--child-small::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 114px;
    top: -18px;
    right: 134px;
}

.header-list-small:hover > .menu--child-small {
    display: block;
}

.banner {
    height: 500px;
    width: 100%;
    background-color: gray;
    margin-top: 60px;
}

.banner > img {
    width: 100%;
    height: 100%;
    background: url(/img/d63109c42b63a902b5c5630e0bfca9f4.jpg)
}

.container--slide {
    background-color: gray;
    height: 500px;
    width: auto;
}

/* itemhoa */
.title h2{
    text-align: center;
    padding: 5px 0px 5px 0px;
    margin: 5px 0px 5px 0px;
    font-weight: bold;
    
}
.content_1{
    padding: 0px;
    margin: 0px;
    text-align: center;
    line-height: 1.5;
}
.list_hoa{
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.item_hoa{
    background-color: #fff;
    width: 280px;
    margin-bottom: 20px;
    padding: 0px;
    text-align: center;
    border: gray solid 0.1px;
    border-radius: 5px;
}
.item_hoa img{
    margin:  0px 0px 0px 0px;
    padding: 15px;
    width: 100%;
    height: 350px;
}
.item_hoa.bolder h5{
    font-weight: bolder;
    padding: 10px 0px 10px 0px;
}
.item_hoa.lighter{
    font-weight: bolder;
    padding: 0px;
}

small{
    padding: 0px 10px 0px 10px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.3;
}
.item_hoa:hover{
    /* background-color: rgba(0, 0, 0, 0.4); */
    box-shadow: 5px 5px 25px 5px gray;
    cursor: pointer;
}


/* lớp phủ
.item_hoa{
    position: relative;
}
.item_hoa.ovelay{
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    display: inline-block;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: .25s all;

} */

#module p.collapse[aria-expanded="false"] {
    height: 42px !important;
    overflow: hidden;
  
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

#module p.collapsing[aria-expanded="false"] {
    height: 42px !important;
}

#module a.collapsed:after  {
    content: '+ Show More';
}

#module a:not(.collapsed):after {
    content: '- Show Less';
}