* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #fb6f92;
}
/* nav  */

html, body {
    font-family: Lato, Arial,sans-serif !important;
    background-color: #ffffff !important;
    text-align: center;
}

li {
    list-style: none;
}

hr {
    background-color: var(--primary-color);
}


.nav__header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    background-color: var(--primary-color);
    /* background-color: rgb(248, 63, 95); */
    padding: 10px 15px 13px;
    width: 1296px;
    position: fixed;
    z-index: 3;
}

.header--menu > a,
.header-list > a {
    text-decoration: none;
    color: #fff;
}

.header--menu{
    position: relative;
}

.header--menu ::before{
    content: "";
    position: absolute;
    height: 20px;
    width: 158px;
    top: 20px;
    right: 1px;
}

.header--menu:hover > .menu--child {
    display: block;
    z-index: 4;
}

.menu--child {
    width: 220px;
    height: auto;
    position: absolute;
    top: 37px;
    right: -22px;
    background-color: #fff;
    color: #000;
    display: none;
    padding: 0;
    border: 1px solid #ccc;
    z-index: 10;
}

.menu--child > :hover,
.menu--child-small > :hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

.menu--child-small > li {
    padding: 14px 10px 12px 15px;
}

.menu--child > li > a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 14px 10px 12px 15px;
}

.header-list-small > a {
    text-decoration: none;
    color: #fff;
}

.header-list-small {
    position: relative;
}

.menu--child-small {
    content: "";
    position: absolute;
    height: 350px;
    width: 246px;
    top: 37px;
    left: 0px;
    background-color: #fff;
    padding: 0;
    display: none;
    z-index: 1;
}

.menu--child-small > li > a {
    text-decoration: none;
    color:#000
}

.menu--child-small::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 114px;
    top: -18px;
    right: 134px;
}

.header-list-small:hover > .menu--child-small {
    display: block;
}

.banner {
    height: 500px;
    width: 100%;
    background-color: gray;
    margin-top: 60px;
}

.banner > img {
    width: 100%;
    height: 100%;
    background: url(/img/d63109c42b63a902b5c5630e0bfca9f4.jpg)
}

.container--slide {
    background-color: gray;
    height: 500px;
    width: auto;
}

/* chitiethoa */
.noi-dung{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    margin: auto;
    
}
.hearder-box h2{
    padding: 5px 0px;
    /* background-color: var(--primary-color); */
    background-image: linear-gradient(to top, var(--primary-color), #fff);
    color: #fff;

    text-align: center;
}
.content-box{
    width: 80%;
    background-color: #ffffff;
    position: relative;
    
}
.content-box a{
    position: absolute;
    bottom: -30px;
    right: 0;
    padding-right: 20px;
    text-decoration: none;
}
.content-box p{
    text-align: left;
    padding: 0 20px 0 20px;
    
    color: var(--primary-color);
}
.conten-img{
    margin: 8px;
}

.conten-chi-tiet h5{
    text-align: left;
    text-indent: 50px;
    font-weight: bolder;
    padding: 10px 0px 0px 0px;
}